body {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px;
}

.footer {
    background-color: #1f2937;
    margin-top: 200px;
    padding: 40px;
}


.title {
    font-size: 36px;

}

/* calculator body */
.content {
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.calc-container {
    background-color: #31425a;
    /* flex-wrap: wrap; */
}
.calc-container > #display{
    display: flex;
    padding: 30px;
    /* border: 20px red solid; */
    color: #E5E7EB;
    justify-content: flex-end;
}


.button-container {
    /* padding: 50px 20px; */
    display: flex;
    flex: 1;
    width: 200px;
    /* height: 300px; */
    padding: 20px;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.buttons {
    /* flex-grow: 1; */
    height: 60px;
    width: 60px;
    /* margin-bottom: auto; */
}